asgiref
dj-database-url<1.0.0
Django
djangorestframework
django-import-export
django-guardian
django-filter
django-crispy-forms
gunicorn
Pillow
pandas
openpyxl
xlrd
xlwt
pytz
python-decouple
sqlparse
whitenoise
psycopg2-binary